* {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}
html {
  /* 1 rem = 12px */
  font-size: 14px;
}

body {
  background-color: #333;
  color: whitesmoke;
  /* display: grid; */
  place-content: center;
}

button {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: gold;
}
